textarea {
    min-height: 400px;
  }
  
  body {
    background: #c5c6c7;
    padding-top: 3vh;
  }
  
  .form-group input, .form-group input[disabled], .form-group input:focus {
    background-color: #f2f4f7;
    color: #1f2833;
    border-color: #1f2833;
  }
  
  #compose-form textarea {
    background-color: #f2f4f7;
    color: #1f2833;
    border-color: #1f2833;
  }
  
  h1, h4, h5, h6, p, label {
    color: #FF0080;
  }

  h2, h3 {
    color: #1f2833;
  }
  
  .form-group {
    color: #1f2833;
  }
  
  #email-submit-button {
    background-color: #EBE0D0;
  }
  
  .btn-outline-primary {
    border-color: #A91B60;
    color: #FF0080;
    background-color: #1f2833;
  }
  
  .btn-outline-primary:hover, .btn-outline-primary.selected {
    background-color: #EBE0D0;
    border-color: #A91B60;
    color: #1f2833;  
  }
  
  #to-text-error-message {
    color: red;
    font-size: 12px;
    margin-left: 30px;
  }
  
  #emails-view .email-line-box:hover {
    background-color: #A91B60;
  }
  #emails-view #titled-first-row {
    border-top: 1px solid #A91B60;
    background-color: #1f2833;
    cursor: default;
  }
  #emails-view #titled-first-row p {
    font-weight: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FF0080;
  }
  #emails-view .email-line-box {
    border: 1px solid #A91B60;
    border-top: 0;
    border-radius: 1px;
    cursor: pointer;
  }
  #emails-view .email-line-box p {
    color: #c5c6c7;
    margin-top: 14px;
    margin-bottom: 12px;
  }
  #emails-view .read {
    background-color: #1f2833;
  }
  #emails-view .unread {
    background-color: #1f2833;
  }
  #emails-view .unread p {
    font-weight: bolder;
  }
  
  #single-email-content {
    background-color: #1f2833;
    padding-bottom: 40px;
  }
  #single-email-content .row p {
    padding: 0 0 0 30px;
    margin: 0;
  }
  #single-email-content .email-subject-section #archive-reply-button {
    padding-top: 30px;
  }
  #single-email-content .email-subject-section #archive-reply-button button {
    padding: 5px 30px 5px 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #c5c6c7;
    color: #1f2833;
    border: 1px solid #A91B60;
    text-align: center;
  }
  #single-email-content .email-subject-section #archive-reply-button button:hover {
    background-color: #A91B60;
  }
  #single-email-content #email-subject-subsection p {
    font-size: 60px;
  }
  #single-email-content .email-timestamp-section p {
    font-size: 11px;
    margin-bottom: 10px;
  }
  #single-email-content .row.email-sender-section p:before {
    content: "From: ";
  }
  #single-email-content .row.email-sender-section p {
    font-size: 13px;
    margin-bottom: 4px;
  }
  #single-email-content .email-recipients-section p:before {
    content: "To: ";
  }
  #single-email-content .email-recipients-section p {
    margin-bottom: 20px;
    font-size: 13px;
  }
  #single-email-content .email-body-section {
    background-color: #f0f3f7;
    padding-bottom: 30px;
    padding-top: 20px;
    white-space: pre-wrap;
  }
  
  #single-email-back-section {
    margin-top: 40px;
  }
  #single-email-back-section p:before {
    content: "Back to ";
  }
  #single-email-back-section p:first-letter {
    text-transform: capitalize;
  }
  #single-email-back-section .row {
    margin: 0;
    padding: 0;
  }
  #single-email-back-section .row #back-button {
    background-color: #1f2833;
    border: 1px solid #A91B60;
    cursor: pointer;
  }
  #single-email-back-section .row #back-button p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  #single-email-back-section .row #back-button:hover {
    background-color: #A91B60;
  }
  #single-email-back-section .row #back-button:hover p {
    color: #1f2833;
  }
  